body ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body ul li{
  padding: 12px;
  background-color: rgb(0, 0, 0);
  width: 150px;
  height: auto;
  text-align: center;
  border-radius: 15px;
}
body ul li:hover{
  background-color: #ffffff;
  border: 1px solid #000;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.4);
}
body ul li:hover a{
  color: #000;
}
body ul li a{
  text-decoration: none;
  color: #fafafa;
}